
/* MAIN */
body{
    background-color: hsl(200, 90%, 25%);
    min-width: 20em;
}

/* HOME */
.homePage{
    position:static;
    width: auto;
    z-index: 2;
    margin-top: 5px;
    top: 10%;
    vertical-align: top ;
}

.homeMain{
    border-radius: 10px;
    background-color: aliceblue;
    width: auto;
    display: flex;
    margin-bottom: 1em;
}

.homeItem{
    width: 9em;
    height: 4em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-left: 2em;
    margin-right: 2em;
    vertical-align: middle;
    border-radius: 10px; 
}

.mainText{
    font-size: 2em;
    width: 80%;
    overflow: hidden;
    padding-left: 1em;
}

.homeMain.actionBox{
    margin-top: 1em;
    padding: 1em;
    justify-content: center;
}

.homeItem.textBox{
    width: 50%;
}

.homeItem:hover{
    filter: brightness(0.80);
}

@media screen and (max-width:50em) {
    .homeMain{
        display: block;
        text-align: center;
    }

    .homeItem{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}