
/* MAIN */
body{
    background-color: hsl(200, 90%, 25%);
    min-width: 30em;
}

/* HOME */
.homePage{
    position:static;
    width: auto;
    z-index: 2;
    margin-top: 5px;
    top: 10%;
    vertical-align: top ;
}

.homeMain{
    border-radius: 10px;
    background-color: aliceblue;
    width: auto;
    display: flex;
    margin: 1em;
}

.homeItem{
    width: 9em;
    height: 4em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-left: 2em;
    margin-right: 2em;
    vertical-align: middle;
    border-radius: 10px; 
}

.mainText{
    font-size: 2em;
    width: 80%;
    overflow: hidden;
    padding-left: 1em;
}

.subText{
    font-size: 1.5em;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
    
}

.mainList{
    display: grid;
    grid-template-columns: 1fr;
}

.taskList{
    display: grid;
    grid-template-columns: 1fr;
}

.actionBox{
    margin-top: 1em;
    padding: 1em;
    justify-content: center;
}

.taskMain{
    overflow: hidden;
    display: flex;
    background-color: rgb(201, 220, 239);
}

.textBox{
    width: 50%;
    max-width: 50%;
    overflow: hidden;
}

.homeItem:hover{
    filter: brightness(0.80);
}

.darken{
    background-color: grey;
}

.selected{
    background-color: yellowgreen;
}

@media screen and (max-width:50em) {
    body{
        overflow: scroll;
    }

    .homeMain{
        display: block;
        text-align: center;
        margin: 2em;
        padding: 0.25em;
    }

    .homeMain.taskMain{
        display: block;
        width: 80%;
    }

    .taskList{
        display: block;
    }

    .homeItem{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .subText{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        overflow: scroll;
    }

}